@font-face {
	font-family: Lato;
	src: url( 'assets/lato-regular-webfont.woff' ) format( 'woff' ),
		url( 'assets/lato-regular-webfont.ttf' ) format( 'truetype' );
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	src: url( 'assets/lato-light-webfont.woff' ) format( 'woff' ),
		url( 'assets/lato-light-webfont.ttf' ) format( 'truetype' );
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: enhance;
	src        : url( 'assets/enhance.woff' ) format( 'woff' ),
				 url( 'assets/enhance.ttf' ) format( 'truetype' );
	font-weight: normal;
	font-style : normal;
}
.fa {
	display: inline-block;
	font-family: enhance;
	font-style: normal;
}
.fa-lg { font-size: 22px; line-height: 18px; }
.fa-addons:before { content: "\f581" }
.fa-eye:before { content: "\f575" }
.fa-wifi-3:before { content: "\f570" }
body {
	margin: 0;
	font-family: "Lato";
	font-size: 15px;
	line-height: 1.42857143;
	color: var( --cw );
	background-color: #000;
	overscroll-behavior: none; /* disable android pull-down refresh */
}
#splash {
	position: relative;
	height: 100vh;
}
#splash img {
	position: absolute;
	width: 90vw;
	max-width: 750px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.head {
	position: fixed;
	width: 100%;
	height: 40px;
	padding-right: 10px;
	background: var( --cga );
	box-shadow: 0px 4px 10px #000000;
	z-index: 110;
}
.page-icon {
	float: left;
	width: 40px;
	height: 40px;
	line-height: 38px;
	text-align: center;
	font-size: 24px;
	text-shadow: 1px 1px 2px #000000;
	cursor: pointer;
	background: var( --cm );
}
.title {
	margin-left: 15px;
	line-height: 40px;
	font-size: 26px;
	font-weight: 300;
	letter-spacing: 5px;
}
.hide { display: none !important; }
wh { color: var( --cw ) !important; }
