[Unit]
Description=MPD OLED Display

[Service]
User=root
EnvironmentFile=/etc/default/mpd_oled
ExecStart=/usr/bin/mpd_oled $OPTS

[Install]
WantedBy=multi-user.target
